@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  border: 0;
  margin: 0;
  height: 100vh;
  /* width: 100vh; */
}
ul,
li,
h2 {
  padding: 0;
  margin: 0;
}
#content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  height: 15%;
  /* background-color: ; */
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  /* width: 800px; */
}

.left-panel {
  /* background-color: blue; */
  width: 30%;
  height: 100%;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
  display: flex;
  /* justify-content: center; */
  font-size: 25px;
}
.right-panel {
  padding-top: 30px;
  padding-left: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}
/* .add{
  height: 20px;
} */
svg {
  margin: 0;
}
